div#game {
  text-align: center;
}
body {
  font-family: monospace;
  color: white;
  background-color: black;
}
button {
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  font-family: monospace;
  height: 50px;
}
@media screen and (min-width: 601px) {
  #game {
    width: 300px;
    margin: auto;
  }
  .game {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  #game {
    width: 50%;
    margin: auto;
  }
  .game {
    height: 50px;
  }
}

.row {
  display: flex;
}
.game {
  display: inline;
  font-size: 3em;
  width: 30%;
  font-size: 100px;
  font-family: Arial;
}
.row:nth-of-type(2) > .game {
  border-top: solid red 1px;
  border-bottom: solid red 1px;
}
.row > .game:nth-of-type(2) {
  border-right: solid red 1px;
  border-left: solid red 1px;
}
